body {
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHByb2dyYW1taW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.mian-h {
    /* color: aliceblue; */
    text-align: center;
    margin-top: 50px
}

.photo {
    position: absolute;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    transition: all 400ms ease-in-out;
}

.photo:hover {
    z-index: 2;
    transform: scale(1.5);
}

.photo-skills {
    position: relative;
    margin-top: 50px;
    display: flex;
}

.skills-h {
    color: aliceblue;
    margin-bottom: 35px;
}

.skills {
    z-index: 1;
    position: absolute;
    right: 50px;
    border-radius: 25px;
    padding: 35px 25px;
    background-color: black;
    margin-left: 50px;
    color: aliceblue;
    transition: all 400ms ease-in-out;
}

.skills:hover {
    z-index: 2;
    transform: scale(1.5);
}